html {
    font-size: 10px;
}

body {
    font-family: 'Barlow Medium', Verdana, sans-serif;
    @include font($size: 1.6rem, $height: 2.6rem, $weight: normal);
}

h1 {
    font-family: 'Barlow Black', Verdana, sans-serif;
    @include font($height: 4.3rem, $size: 4.0rem);
    @include media-mobile {
        @include font($height: 3.2rem, $size: 3.3rem);
    }
}

h2 {
    @include font($size: 3rem, $height: 2.5rem);
    @include media-mobile {
        @include font($height: 3.1rem, $size: 3.1rem);
    }
}

h3 {
    font-family: 'Assistant Bold', Verdana, sans-serif;
    text-align: center;
    @include font($size: 2.4rem, $height: 3.4rem,$weight:bold);
    @include media-mobile {
       @include font($height: 2.5rem, $size: 2.7rem);
    }
}

h4 {

    @include font($size: 2.2rem, $height: 3.0rem, $weight: normal);
    @include media-tablet {
        @include font($height: 3.0rem, $size: 2.0rem);
    }
}

h5 {
    @include font($size: 1.6rem, $height: 2.6rem);
}

