.icon{
    display: flex;
  
     background-repeat: no-repeat;
}

.icon_phone {
    background-image: url("../img/phone.svg");
    width: 35px;
    height: 35px;
}

.icon_GitHub {
    
    background-image: url("../img/github.svg");
    width: 48px;
    height: 48px;
       
}

.icon_letter {
    background-image: url("../img/email.svg");
    width: 35px;
    height: 35px;
}

