.footer {
    padding: 60px 0 70px;
    background: #148456;
 
}

.footer__wrapper {
 
    @include media-mobile {
        flex-direction: column;
             
        flex-direction: column;
        justify-content: center;
        @include font($height: 1.5rem, $size: 1.5rem);
    }
}

.contact__link {
   display: flex;
   align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    flex-direction: row;
  
}

a{
    padding-left: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

.contact__link p{
    white-space: nowrap;
    box-sizing: content-box;
    padding-left: 15px;
   
}
