.header {
    background: #53a76b;
    padding: 15px 0 17px 0;
    color: #FFFFFF;
}

.header__wrapper {
 
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include media-tablet {
        padding-left: 24px;
    }
    @include media-mobile  {
        padding: 0;
        margin: 0;
        flex-direction: column;
    }
    @include media-mobilesmall  {
        padding: 0;
        margin: 0;
        flex-direction: column;
    }
  
}

.header__img{
    align-self: center;
    padding: 20px;
    @include media-mobilesmall {
        padding: 0;
    }
}

.photo{

    width: 98px;
    height: 98px;
    border-radius: 50%;
}

.header__title{
    
    flex-direction: column;
  }